/* 2024 Arnaud Champollion, licence GNU/GPL 3.0 */
/* RÉPARTITION */

.fond-gris {
  background-color: #0078D4;
  background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 40%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 100%); /* Dégradé pour la brillance */
  color: #ffffff; /* Couleur du texte */
  position: relative;  

}


button {
  font-size: 24px;
  margin: 3px;
  border-radius: 5px;
}

.retourne {
  transform: rotate(180deg);
}

input {
  padding: 0;
  font-size: 24px;
}

html, body {
  font-size: 0;
  margin:0;
  padding: 0;
  width: 100%; 
  height: 100%; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;

}
 body {
  margin: 0;  
  min-height: calc(100vh - 20px);
  padding: 0;
  background: #444b51;
  display: flex;
  flex-direction: column;
}

#tableau-de-bord {
  width: 100%;
  border-radius: 0px 0px 10px 10px;

  background-color: #0078D4; /* Couleur de fond similaire à Office */
  border-bottom: 1px solid #005A9E; /* Bordure inférieure similaire à Office */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Ombre similaire à Office */
}

.zone-tableau {
  margin: 0;
  padding: 0;
  border: none;
  white-space: nowrap;
}

#tableau-de-bord button {
  width: 40px;
  height: 40px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;

  background-color: #ffffff; /* Couleur de fond des boutons */
  color: #0078D4; /* Couleur du texte */
  border: none; /* Supprimer les bordures */
  padding: 10px 20px; /* Espacement intérieur des boutons */
  margin-right: 10px; /* Marge à droite pour les boutons */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointer pour indiquer l'interaction */
  font-weight: bold; /* Texte en gras */
  text-transform: uppercase; /* Texte en majuscules */
  transition: background-color 0.3s, color 0.3s; /* Transition en douceur pour les changements de couleur */
}

#tableau-de-bord button:hover {
  
  background-color: #f0eda6; /* Couleur de fond au survol */
  color: #005A9E; /* Couleur du texte au survol */

  }

.indicateur {
  display: inline-block;
  box-sizing: border-box;
  padding: 1px 5px 1px 54px;
  height: 40px;
  background-size: 40px;
  background-position: 4px center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  line-height: 34px;
  vertical-align: middle;
  border-radius: 5px;
  margin: 3px;
  background-color: rgb(233, 233, 237);
  border-color: rgb(220, 220, 220);

  background-color: #ffffff; /* Couleur de fond des boutons */
  color: #0078D4; /* Couleur du texte */
  border: none; /* Supprimer les bordures */
  margin-right: 10px; /* Marge à droite pour les boutons */
  border-radius: 5px; /* Coins arrondis */
  font-weight: bold; /* Texte en gras */
  transition: background-color 0.3s, color 0.3s; /* Transition en douceur pour les changements de couleur */

}

.indicateur:hover {
  background-color: #f0f0f0; /* Couleur de fond au survol */
  color: #005A9E; /* Couleur du texte au survol */
}

#input-nb-classes {
  width: 3.5em;
}

#onglets {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 5px;
  height: 32px ;
  position: relative;
  cursor: default;

}

#boutons-onglets {
  width: fit-content;
}

#onglets button {  
  height: 25px;
  width: 25px;
  padding : 2px;
  border-width: 1px;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  color:rgb(45, 119, 45);
  vertical-align: middle;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}



#zone-onglets {
  white-space: nowrap;
  text-align: left;
  flex: 1;
  overflow: hidden;
  overflow-y: visible;
}

.onglet {
  display: inline-flex;
  height: 30px;
  border-width: 2px 2px 0px 2px;
  border-color: #ffffff;
  border-style: outset;
  color: #6f787f;
  background-color: #c9c7c7;
  border-radius: 10px 10px 0px 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 5px;
  z-index:0;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.onglet:focus {
  outline: none; /* Supprime la bordure de mise en évidence */
}

.onglet.encours {
  background-color: #6f787f;
  color: #ffffff;
  z-index: 2;
}

.menu-contextuel {
  position: absolute;
  background-color: #000000;
  color: #fff;
  font-size: 14px;
  border: 3px outset #ffffff;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1000;
}

.menu-contextuel div {
  padding: 4px;
  border-radius: 4px;
}

.menu-contextuel div:hover {
  color: #000000;
  background-color: #fff;

}

#conteneur {
  flex: 1;
  width:calc(100% - 20px);
  padding: 0px 10px 10px 10px;
  overflow-y: auto;
  background-color: #6f787f;  
}

.zone {
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#effectifs {
  padding: 10px 5px 10px 5px;
  white-space: nowrap;
  overflow-x: auto;
  transition: all 0.5s linear;
  border-radius: 0px;
  z-index: 1;
  background-color: #6f787f;
}


.sous-zone {
  display: inline-block;
  font-size: 16px;
}

.sous-zone p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.zone p {
  margin: 5px 0px 0px 0px;
  padding: 0;
  font-size: 16px;
}

#reglages {
  text-align: right;
}

.effectif {
  display: inline-block;
  width: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 5px 2px 10px 2px;
  border: 1px outset rgb(255, 255, 255);
  margin-left: 2px;
  margin-right: 2px;
  transition: transform 0.2s ease;
  border-radius: 10px;
}

/* Au survol, agrandir légèrement l'élément */
.effectif:hover {
  transform: scale(1.05);
}

.etiquette-effectif {
  font-size: 32px;
}

.input-effectif {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px !important;
  width: 100%;
  min-height: 1.5em; 
  position: relative;
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px 0px rgba(255,255,255,0.5);
}

.brillance {
  display: inline-block;
  width: 80%;
  position: relative;
}

.brillance::after {
  content: ''; /* Contenu vide */
  position: absolute; /* Position absolue */
  top: 0; /* Position en haut */
  left: 0; /* Position à gauche */
  width: 100%; /* Largeur à 100% */
  height: 100%; /* Hauteur à 50% */
  background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 70%, rgba(255,255,255,0.3) 80%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%); /* Dégradé pour la brillance */
  pointer-events: none; /* Éviter que le pseudo-élément ne bloque les événements de souris */
}


.ligne-option {
  text-align: right;
  width: auto;
  margin: 10px;
}

/*
#graphique-niveaux {
  display: none;
}
*/
.graphique-niveau {
  display: inline-block ;
  height: 25px;
  transition: width 0.5s linear;
}

.input-reglages {
  width: 4em;
  text-align: center;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.zone span {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.cases span {
  font-size: 16px;
  font-weight: bold;
}


.classe {
  margin : 15px auto 15px auto;
  text-align: left;
}


.valeur-stat {
  font-size: 24px;
}

.zone-valeurs {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding : 5px;
  text-align: center;
  border-radius: 5px;
}

      .intitule {
        width: 7em;
        vertical-align: middle;
        border: 1px outset rgb(255, 255, 255);
      }

      .detail {
        width: 5em;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid #000;
        vertical-align: middle;
        position: relative;
      }

      .etiquette-zone-valeurs {
        cursor: grabbing;
      }

.fantome::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none; /* Éviter que le pseudo-élément ne bloque les événements de souris */
}

#ajout-niveaux {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #0078D4;
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 10px;
  z-index: 1000;
}

#ajout-niveaux .ajout {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  width: 60px;
}

#bouton-fermer-ajout-niveaux {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  right: -10px;
  background-image: url(images/bouton_fermer_rouge.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  outline: none;
}


.cases {
  width: 80%;
  overflow: hidden;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.cases>span {
  font-size: 16px;
}



.modif {
  position: absolute;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-image: url(images/fleche.svg);
  background-size: 100%;
  background-position: bottom;
  left: -5px;
  background-color: transparent;
}

.plusmoins {
  position: absolute;
  height: 20px;
  width: 20px;
  right: -5px;
  margin: 0;
  background-size: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5); 

}

.plus {
  background-image: url(images/eleve-plus.svg);
  background-color: greenyellow;
  top: -5px;
}

.moins {
  background-image: url(images/eleve-moins.svg);
  background-color: orange;
  bottom: -5px;
}

.bouton-fermer-niveau {
  background-image: url(images/bouton_fermer_rouge.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  outline: none;
}

.modif:hover{
  background-position: top;

}

.bas {
  bottom: -5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5); 
}


.haut {
  transform: rotate(180deg);
  box-shadow: -2px -2px 2px rgba(0,0,0,0.5);  
  top: -5px;
}

.actif {
  background-color: rgb(127, 225, 127) !important;
}

.actif:hover {
  background-color: rgb(105, 249, 65) !important;
}


.grise {
  color: gray !important;
}

.input-limite {
  font-size: 18px;
  width: 2.5em;
  margin-left: 0.5em;
  text-align: center;
}

.dev-message{
  font-size: 20px;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  font-weight: bold;
}

#darkbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}

.lightbox {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  z-index: 1000;
}

.lightbox h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  min-height: 36px;
  margin: 10px;
}

.contenu-lightbox {
  flex: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
  text-align: left;
  width: fit-content;
  margin: auto;
}

.bouton-fermer {
  position : fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(images/bouton_fermer.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  outline: none;
}

.bouton-plus-classe {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  vertical-align: middle;
}

.hide {
  display: none !important;
}



#conteneur.inverse {
  width: auto;
  overflow-x: auto;
  white-space: nowrap;

}

#conteneur.inverse .bouton-plus-classe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#conteneur.inverse .classe {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0px 5px 0px 5px;  
}



#conteneur.inverse .detail {
  display: block;
  margin: 15px auto 15px auto;
}

#conteneur.inverse .bas {
  transform: rotate(270deg);
  left: auto;
  top: auto;
  right: -5px;
  bottom : -5px;
}

#conteneur.inverse .haut {
  transform: rotate(90deg);
  left: -5px;
  top: auto;
  right: auto;
  bottom : -5px;
}

#conteneur.inverse .moins {
  bottom: auto;
  right: auto;
  left: -5px;
  top: -5px;
}

.section {
  border-top: 1px solid #000000;
}

#effectifs.replie .cases {
  display: none;
}

#effectifs.replie .etiquette-effectif {
  font-size: 20px;
}

#effectifs.replie .input-effectif {
  font-size: 20px !important;
}